.addButtonStyle {
    border: none;
    background-color: orange;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    height: 75%;
    width: 11%;
    border-radius: 20px;
    margin-right: 25%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonDefault{
    background-color: orange;
    color: black;
    border: 2px solid orange;
}
.buttonDefault:hover{
    background-color: white;
    color: darkorange;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
