.mainContainerStyle {
    background-color: darkgreen;
    height: 100%;
    width: 100%;
    overflow-y: scroll
}

.headerContainerStyle {
    background-color: dodgerblue;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}

.mapListWrapperStyle {
    background-color: red;
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mapWrapperStyle {
    background-color: bisque;
    height: 100%;
    width: 75%;
}

.listWrapperStyle {
    background-color: blueviolet;
    height: 100%;
    width: 25%;
    overflow: scroll;
}

.mapBlockStyle {
    height: 100%;
    width: 100%;
}

.formContainer {
    position: absolute;
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: plum;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 20px 10px;
}
